.projet_container{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  margin-bottom: 1em;
  border-radius: 5px;
}

.projet_recto, .projet_verso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  
}

.projet_recto .projet_title h2{
  color: var(--font-color2);
  text-align: center;
  font-size: calc(var(--font-size) * 2.2);

}

.projet_recto .projet_images{
  display: none;
}


.projet_verso .projet_description h2, .projet_verso .projet_technos h2{
  color: white;
  font-size: calc(var(--font-size) * 1.5);
  padding: 0.5em;
  text-align: left;
  
}
.projet_description p, .projet_technos p{
  color: white;
  font-size: 0.8em;
  padding: 0.2em 0.5em;
}

.projet_gh{
  margin:0.8em 0.4em;
  font-size: calc(var(--font-size) * 1.5);
}

.projet_gh .btn_gh{
  border: var(--third-color);
  color: var(--background-color);
  background-color: var(--third-color);
  padding: 0.5em 0.8em;
  border-radius: 5px;
 
}

.projet_gh .btn_gh:hover{
  color: var(--font-color2);
  cursor: pointer;
  transition: color 0.40s;
}


@media screen and (min-width: 800px){
  .projet_container{
    width: 45%;
    height: 100vh;
    border: 4px solid var(--font-color1);
   
  }

  .projet_box{
    position: relative;
    height: 100vh;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .projet_container:hover .projet_box{
    transform: rotateY(180deg);
    
  }

  .projet_recto, .projet_verso{
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
    height: 99vh;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

  }

  .projet_recto .projet_title h2{
    font-size: calc(var(--font-size) * 3.2);
    margin-bottom: 1em;
  
  }

  .projet_recto .projet_images{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 9em;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
  }
  
  .projet_verso{
    background: linear-gradient(145deg, #BBC5E6, #2AAFE5);
    box-shadow: 10px 10px 40px #BBC5E6, -10px -10px 40px #BBC5E6;
    transform: rotateY(180deg);
    text-align: left;
  }

  .projet_verso .projet_description h2{
    font-size: calc(var(--font-size) * 2.5);
    text-align: left;
    margin-top: 2em;

  }

  .projet_verso .projet_technos h2, .projet_gh a{
    font-size: calc(var(--font-size) * 2);
    text-align: left;
    margin-top: 2em;

  }

 .projet_verso .projet_technos p{
    font-size: calc(var(--font-size) * 2);
    padding: 0.4em 0.8em;
  }

  .projet_gh{
    margin:0.8em 0.8em;
  }

}

