.projets{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 1em;
  margin: 1em 1em;

}

.projets .projets_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  border: 2px solid var(--font-color1);
  border-radius: 5px;
  padding: 0.8em;
  margin-bottom: 1em;
 
}

.projet_description h2, .projet_images h2, .projet_technos h2, .projet_gh a{
  color: var(--font-color2);
  font-size: calc(var(--font-size) * 1.5);
  padding: 1em 0;
  text-align: left;
  
}
.projet_description p, .projet_technos p{
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 1em 0;
}

.projet_gh .btn_gh{
  border: var(--third-color);
  color: var(--background-color);
  background-color: var(--third-color);
  padding: 0.5em 0.8em;
  border-radius: 5px;
}

.projet_gh .btn_gh:hover{
  color: var(--font-color2);
  cursor: pointer;
  transition: color 0.40s;
}


@media screen and (min-width: 800px){
  .projet_description h2, .projet_images h2, .projet_technos h2, .projet_gh a{
    font-size: calc(var(--font-size) * 2);
  }

  .projet_description p, .projet_technos p{
    font-size: calc(var(--font-size) * 2.4);
    }


}

